name: Deploy to S3

on:
  push:
    branches: [ main ]

permissions:
  id-token: write   # required for OIDC
  contents: read

jobs:
  upload:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::686355101020:role/github
          aws-region: eu-west-1

      - name: Upload to S3
        run: |
          aws s3 sync . s3://farts.net \
            --delete \
            --exclude ".git/*" \
            --exclude ".github/*"
    
      - name: Clear cloudfront cache
        run: |
          aws cloudfront create-invalidation \
            --distribution-id E3163CTHV7NYCS \
            --paths "/" "/*"
